.intro {
	display:table;
	width:100%;
	height:auto;
	padding:100px 0 100px 0;
	text-align:center;
	color:#fff;
	background-image:radial-gradient(circle at 50% 50%,rgba(0,0,0,0.46),rgba(0,0,0,0.88)),url('../assets/images/lounge1.jpg');
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
}
.intro .intro-body {
	display:table-cell;
	vertical-align:middle;
}
.intro .intro-body .brand-heading {
	font-size:40px;
}
.intro .intro-body .intro-text {
	font-size:18px;
}



#contactform input,#contactform textarea {
	border:0px;
	border-bottom:2px solid #333;
	width:100%;
	background-color:transparent;
	padding:20px 0px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:20px;
}
#contactform input#submit {
	width:auto;
	border:2px solid #333;
	padding:10px 20px;
  display:inline-block;
  background-color:#333;
  transition: 0.5s;
}
#contactform input#submit:hover {
	background-color:wheat;
	color:#fff;
	border:2px solid wheat;
}
#contactform input:focus,#contactform input:active,#contactform textarea:focus,#contactform textarea:active {
	border-top:0px;
	border-bottom:2px solid lightseagreen;
	outline:0;
	outline: none;
}

#thelounge p{
    text-align: justify;
    color: wheat;
    font-size: 16px;
    }
    #thelounge{
        background-color: #444341;
        
    }
    #thelounge .btnghost{
        color: wheat;
        border-color: wheat
    
    }
	
	@import url(https://fonts.googleapis.com/css?family=Raleway);

.thumbs {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px 8px;
  min-width: 230px;
  max-width: 480px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  border:1px solid white;
}
.thumbs * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.thumbs:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.thumbs img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.thumbs figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.thumbs h3,
.thumbs h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.thumbs h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.thumbs h5 {
  font-weight: normal;
  background-color: #ae895d;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.thumbs a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.thumbs:hover:before,
.thumbs.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.thumbs:hover h3,
.thumbs.hover h3,
.thumbs:hover h5,
.thumbs.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.thumbs:hover h3,
.thumbs.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.thumbs:hover h5,
.thumbs.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* Demo purposes only */
body {
  background-color: #212121;
  text-align: center;
}

#bookings{
  margin-top: 8em;
}
