@font-face {
    font-family: futura;
    src: url("../fonts/Futura Round.ttf") format("truetype")
}

body {
	width:100%;
	height:100%;
	font-family:futura, Open Sans,sans-serif;
	color:#fff;
	background-color:#202020;
	 font-weight:300;
}

html {
    position: relative;
    min-height: 100%;
}
.navbar{
    background-color:#2020206e !important;

}

.navbar-custom {
	margin-bottom:0;
	border-bottom:1px solid rgba(255,255,255,.3);
	text-transform:uppercase;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:#202020;
    
}
.navbar-custom .navbar-brand {
	font-size:20px;
	text-transform:none;
	letter-spacing:1px;
}
.navbar-custom .navbar-brand:focus {
	outline:0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding:4px 6px;
	font-size:16px;
	color:#fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,.navbar-custom .navbar-brand .navbar-toggle:active {
	outline:0;
}
.navbar-custom a {
color:#fff;
}
.navbar-custom .nav li a {
	-webkit-transition:background .3s ease-in-out;
	-moz-transition:background .3s ease-in-out;
	transition:background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline:0;
	color:#1ba39c;
	background-color:transparent;
}
.navbar-custom .nav li a:focus,.navbar-custom .nav li a:active {
	outline:0;
	background-color:transparent;
}
.navbar-custom .nav li.active {
	outline:0;
}
.navbar-custom .nav li.active a {
	color:#1ba39c;
}
.navbar-custom .nav li.active a:hover {
	color:#1ba39c;
}
@media(min-width:768px) {
	.navbar-custom {
		padding:20px 0;
		border-bottom:0;
		font-size:13px;
		background:0 0;
		-webkit-transition:background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition:background .5s ease-in-out,padding .5s ease-in-out;
		transition:background .5s ease-in-out,padding .5s ease-in-out;
	}
		 .navbar-custom.top-nav-collapse {
		 padding:0;
		border-bottom:1px solid #202020;
		color:#333;
			background:#202020;
	}
	.navbar-custom.top-nav-collapse a {
		color:wheat;
		display:inline-block;
	}
}




.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url(../assets/images/intro1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(0.7)

}
.item:nth-child(2) {
    background: url(../assets/images/intro2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(0.7)
}
.item:nth-child(3) {
    background: url(../assets/images/intro3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(0.7)
}
.item:nth-child(4) {
    background: url(../assets/images/intro4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(0.7)
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
.title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}



.emil {
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    margin: auto;
    width: 450px;
    height: 300px;
    text-align: center;
}
.emil {
    z-index: 10
}


.emil img {
    max-width: 450px;
    height: 80px
}

.emil p {
    font-size: 15pt;
    margin: 30px;
    color: wheat
}

.btnghost {
	border:2px solid wheat;
	background-color:transparent;
	padding:15px 20px;
	letter-spacing:3px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:400;
	color:wheat;
	margin-top:20px;
    display:inline-block;
    transition: 0.5s;
}
.btnghost:hover {
	background-color:wheat;
	color:#333 !important;
	
}

.emil a {
    text-decoration: none;
}

